/* Home.css */
.home-section {
  background: url("../../assets/image/banner-bg01.jpg") no-repeat center center / cover;
}
.shop-now-btn:hover {
  transform: translateY(-2px);
}
.relative img {
  position: relative;
}
.animate-bounce {
  animation: bounce 2s infinite;
}
